@import url(/fonts/fonts.css);

body {
    font-size: 1.2em
}

a.external::after {
    background-image: url("/img/icon/external.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: '__';
    color: #0000;
}

* {
    font-family: var(--mainfont), sans-serif;
    text-transform: lowercase;
}

.smallText {
    top: 0;
    position: fixed;
    background-color: #0005;
}