@import url('/fonts/fonts.css');

:root {
    --mainfont: LinearSTD;
}

.category.b, .card.b {
    background-image: linear-gradient(to bottom right, #000099, #000080);
}

.category.g, .card.g {
    background-image: linear-gradient(to bottom right, #008000, #006100);
}

.category.r, .card.b {
    background-image: linear-gradient(to bottom right, #a20000, #800000);
}

.category.tr, .card.tr {
    background-image: linear-gradient(to bottom right, #0000, #0000);
    border-color: #0000;
    color: #0000;
}

.card:hover,
.card:focus {
    background-color: #0003;
    color: #e6e6e6;
}

.card {
    color: #f5f5f5;
    display: inline-block;
    font-size: 3.125em;
    font-family: var(--mainfont), sans-serif;
    text-align: center;
    border-radius: 0;
    margin: 0;
    border: 0.05rem solid #00000069;
    padding: 0.1em 0.3em;
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.category .card {
    flex: 1;
}