.gridCell:nth-child(even) {background-color: antiquewhite}
.gridCell:nth-child(odd) {background-color: bisque}

* {
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 3vmin;
  display: grid;
  grid-template-rows: repeat(15, calc(94vmin/15));
  grid-template-columns: repeat(15, calc(94vmin/15));
}

body {display: flex; height: 94vh; width: 94vw; padding: 3vmin;}
@media (orientation: landscape) {
  body {flex-direction: row}
  main {padding-right: 3vmin}
  .controls{
    width: 100%;
    height: 94vmin;
  }
}
@media (orientation: portrait) {
  body {flex-direction: column}
  main {padding-bottom: 3vmin}
  .controls{
    width: 94vmin;
    height: 100%;
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  grid-template-rows: repeat(3, calc(100%/3));;
}

.controls span.h,
.controls span.l,
.controls span.k,
.controls span.j {
  border-radius: 1em;
  background-color: #3b88c3;
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
}

.controls span.h {background-image: url(/img/2b05.png)}
.controls span.j {background-image: url(/img/2b07.png)}
.controls span.k {background-image: url(/img/2b06.png)}
.controls span.l {background-image: url(/img/27a1.png)}